[submodule "meta-guacomole"]
	path = meta-guacomole
	url = ./meta-guacomole
[submodule "upstream/yocto"]
	path = upstream/yocto
	url = git://git.pokylinux.org/poky.git
[submodule "upstream/oe"]
	path = upstream/oe
	url = git://git.openembedded.org/meta-openembedded
