[submodule "upstream/yocto"]
	path = upstream/yocto
	url = git://git.pokylinux.org/poky.git
[submodule "upstream/oe"]
	path = upstream/oe
	url = git://git.openembedded.org/meta-openembedded
[submodule "upstream/arago/meta-ti"]
	path = upstream/arago/meta-ti
	url = git://arago-project.org/git/meta-ti.git
[submodule "upstream/misc/meta-raspberrypi"]
	path = upstream/misc/meta-raspberrypi
	url = git://github.com/djwillis/meta-raspberrypi.git
[submodule "upstream/meta-intel"]
	path = upstream/meta-intel
	url = git://git.yoctoproject.org/meta-intel
